
   GLOBAL RESET + BASE
   ================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
{
background-color: #eeebe6;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
   color: #222222;



<html>
<head>
<style>
body {
  background-image: url("background.png");
}
</style>
</head>
<body>

}

/* ==================================================
   HEADER + TOP NAV
   ================================================== */

header {
  background-color: #222222;
  color: #eeebe6;
  padding: 1.5rem;
}

header h1 {
  margin-bottom: 0.25rem;
}

header p {
  font-size: 0.9rem;
  opacity: 0.8;
}

nav {
  background-color: #660000;
  padding: 0.75rem 1rem;
}

nav a {
  color: #eeebe6;
  text-decoration: none, #eeebe6;
  margin-right: 1.25rem;
}

nav a:hover {
  text-decoration: underline, rgba(70, 105, 4, 0.568);
}

/* ==================================================
   MAIN CONTENT
   ================================================== */

main {
  background-color: #222222;
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
  {
  border-style: solid;
  border-color: #660000;
}
}

main h2 {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

/* ==================================================
   FOOTER
   ================================================== */

footer {
  background-color: #660000;
  color: #eeebe6;
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
}

/* ==================================================
   STUDENT SAFE EDIT ZONE

